<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="PeerShare" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="PeerShare 초대장이 도착했습니다.">
    <meta property="og:url" content="https://peershare-web.herokuapp.com" />
    <meta property="og:image" content="https://peershare-web.herokuapp.com/public/img/logo.png" />
    <meta property="og:image:secure_url" content="https://peershare-web.herokuapp.com/public/img/logo.png" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <link rel="icon" href="/public/img/icon/logo.ico">
    <link href="/public/img/icon/pwa/icon-50x50.png" rel="apple-touch-icon">
    <link href="/public/img/icon/pwa/icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/public/img/icon/pwa/icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/public/img/icon/pwa/icon-152x152.png" rel="apple-touch-icon" sizes="152x152">

    <link href="/public/img/splashscreens/iphone5_splash.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/iphone6_splash.png"
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/iphoneplus_splash.png"
        media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/iphonex_splash.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/iphonexr_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/iphonexsmax_splash.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/ipad_splash.png"
        media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/ipadpro1_splash.png"
        media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/ipadpro3_splash.png"
        media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />
    <link href="/public/img/splashscreens/ipadpro2_splash.png"
        media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image" />

    <link rel="manifest" href="/public/manifest.json" />
    <title>PeerShare</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
        const KakaoApi = "<%= KakaoApi %>";
    </script>
</head>

<body class="bg-neutral-100 dark:bg-gray-700 dm-transition">
    <header
        class="flex items-center justify-between mb-4 bg-white opacity-80 border border-solid border-t-0 border-l-0 border-r-0 border-b-1 dark:bg-gray-700 dm-transition border-gray-300/10 ">
        <div class="flex justify-center items-center">
            <a href="/">
                <img src="/public/img/logo.png" alt="" srcset="" class="ml-4" style="width: 60px;">
            </a>
            <p class="font-jua text-4xl"><a href="/"
                    class="no-underline text-black dark:text-white dm-transition">PeerShare</a></p>
        </div>
        <div class="mr-4">
            <input type="checkbox" class="checkbox" id="checkbox" onclick="handleDarkMode(this)">
            <label for="checkbox" class="dark_mod_label">
                <span class="material-icons fas fa-moon">nightlight</span>
                <span class="material-icons fas fa-sun">light_mode</span>
                <div class="dark_mod_ball"></div>
            </label>
        </div>
    </header>

    <div class="main_div flex justify-center items-center mb-4">
        <main class="main_content dark:bg-gray-400 dm-transition">
            <div class="avatar_div">
                <h3 class="my_avatar_title text-slate-500 dark:text-white dm-transition">나의 정보</h3>
                <div class="my_avatar_div">
                    <div class="my_avatar_div__profile dark:bg-white dm-transition">
                        <img id="my_avatar_img" class="my_avatar_img skeleton_ani" alt="" onerror="this.style.display='none'">
                        <div class="my_avatar_div__profile__title">
                            <div class="skeleton_ani skeleton_text"></div>
                            <div class="skeleton_ani skeleton_text"></div>
                        </div>
                    </div>
                </div>
                <div class="text-center text-base my-3">
                    <p class="font-jua text-3xl dark:text-white dm-transition">링크 공유</p>
                </div>
                <div class="sharBtn_div flex justify-center items-center my-3">
                    <!-- <div class="mx-3">
                            <a id="btnKakao" href="javascript:shareKakao()">
                                <img alt="카카오톡 공유 버튼" src="/public/img/kakaolink_btn.png"/>
                            </a>
                        </div> -->
                    <div class="flex justify-center items-center flex-col mx-3 mx-3">
                        <a id="telegram_btn" href="javascript:shareTelegram()">
                            <img src="/public/img/telegram_ico.png" alt="텔레그램 공유 버튼" srcset="">
                        </a>
                        <span class="font-jua dark:text-white dm-transition">텔레그램 공유</span>
                    </div>
                    <div class=" flex justify-center items-center flex-col mx-3">
                        <span alt="공유링크 복사" class="material-icons shareLink" onclick="sharUrl()">
                            link
                        </span>
                        <span class="font-jua dark:text-white dm-transition">링크 복사</span>
                    </div>
                    <div class="flex justify-center items-center flex-col mx-3">
                        <span class="material-icons" style="font-size: 68px;" onclick="qr_gen()" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter">
                            qr_code
                        </span>
                        <span class="font-jua dark:text-white dm-transition">qr 코드</span>
                    </div>
                </div>
                <h3 class="guest_avatar_title text-center text-slate-500 my-5 dark:text-white dm-transition">접속 유저</h4>
                    <div class="none_guest_div">
                        <span class="material-icons">
                            person_off
                        </span>
                        <p class="text-center text-slate-500 my-5 dark:text-white dm-transition">접속한 유저가 없습니다.</p>
                    </div>

                    <div class="guest_avatar_div" style="display: none;">
                    </div>

                    <div style="display: none;"
                        class="file-progress_bar w-full bg-gray-200 rounded-full dark:bg-gray-700 dm-transition">
                        <div class="file-current-progress bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                            style="width: 45%"> 45%</div>
                    </div>

                    
                    <div class="receive_file_pg_div">
                        <!-- <h3 class="file-list-title text-center text-slate-500 my-3 text-2xl dark:text-white dm-transition">
                            파일 다운로드중
                        </h3>
                        <progress max="100" value="10" class="w-full"></progress>
                        <progress max="100" value="10" class="w-full"></progress> -->
                    </div>

                    <div class="file_zip_pg_div" style="display: none;">
                        <h3 class="file-list-title text-center text-slate-500 my-3 text-2xl dark:text-white dm-transition">
                            파일 압축중 입니다.
                        </h3>
                        <progress id="zip-pg" max="100" value="0" class="w-full"></progress> 
                    </div>

                    <h3 class="file-list-title text-center text-slate-500 my-3 text-2xl dark:text-white dm-transition">
                        파일 리스트</h3>
                    <ul id="fileUl" class="file_ul">
                        <!-- <li> 
                            <div class="flex justify-center items-center">
                                <a href="blob:http://localhost:3000/66bff7eb-356f-4f73-92e1-edafc232bfd8" target="_blank" class="text-2xl no-underline dm-transition mobile:w-3/6 text-black dark:text-white">
                                    <div class="file-name truncate">
                                        5933160d2b734175fd7e7adbeb894fc1b4a02f08.gif
                                    </div>
                                </a>
                                <span class="material-icons text-[50px] dark:text-blue-700">download</span>
                                <span class="material-icons text-[50px] text-red-500">delete_forever</span>
                            </div>
                        </li> -->
                        <!-- <li> 
                            <div class="flex justify-center items-center">
                                <a href="blob:http://localhost:3000/66bff7eb-356f-4f73-92e1-edafc232bfd8" target="_blank" class="text-2xl no-underline dm-transition mobile:w-3/6 text-black dark:text-white">
                                    <div class="file-name truncate">
                                        5933160d2b734175fd7e7adbeb894fc1b4a02f08.gif
                                    </div>
                                </a>
                                <span class="material-icons text-[50px] dark:text-blue-700">download</span>
                            </div>
                        </li> -->
                    </ul>

                    <div class="none_file_div my-3">
                        <span class="material-icons none_file_div__none-icon">
                            folder_off
                        </span>
                        <p class="text-center text-slate-500 mt-4 dark:text-white dm-transition">전송 받은 파일이 없습니다.</p>
                    </div>
                    <div class="flex items-center justify-center">
                        <ul id="allowFileUl" class="list-none">
                            <!-- <li> 
                                <div class="flex justify-center items-center">
                                    <span class="text-2xl no-underline dm-transition mobile:w-3/6 text-black truncate dark:text-white">
                                        5933160d2b734175fd7e7adbeb894fc1b4a02f0823232.gif
                                    </span>
                                    <span onclick="allowFileDownload(this)" data-filename="5933160d2b734175fd7e7adbeb894fc1b4a02f0823232.gif" class="material-icons text-[50px] dark:text-blue-700">download</span>
                                    <span class="material-icons text-[50px] text-red-500">do_not_disturb_alt</span>
                                </div>
                            </li>
                            <li> 
                                <div class="flex justify-center items-center">
                                    <span class="text-2xl no-underline dm-transition mobile:w-3/6 text-black truncate dark:text-white">
                                        5933160d2b734175fd7e7adbeb894fc1b4a02f08.gif
                                    </span>
                                    <span class="material-icons text-[50px] dark:text-blue-700">download</span>
                                    <span class="material-icons text-[50px] text-red-500">do_not_disturb_alt</span>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    
            </div>
        </main>
        <!-- Modal -->
        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
            id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true"
            role="dialog">
            <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
                <div
                    class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                    <div
                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                            qr코드
                        </h5>
                        <button type="button"
                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body relative p-4">
                        <div class="flex justify-center items-center">
                            <canvas id="qr-code"></canvas>
                        </div>
                    </div>
                    <div
                        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                        <button type="button"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded border-none"
                            data-bs-dismiss="modal">
                            닫기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/StreamSaver/ponyfill.min.js" defer></script>
    <script src="/public/js/StreamSaver/StreamSaver.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.5/StreamSaver.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js" defer></script>
    <script src="/public/js/peerjs.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/public/js/jszip/jszip.min.js" defer></script>
    <!-- <script src="/public/js/FileSaver.js" defer></script> -->
    <script src="/public/js/bundel/app-bundel.js" defer></script>
    <script defer> 
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/public/pwabuilder-sw.js',{scope:"/"});
            });
        }
    </script>
    <!-- <script src="/public/js/kakao/kakao.js" defer></script> -->
    <!-- <script src="/public/js/app.js" defer></script> -->
    <!-- <script src="/public/js/sns.js" defer></script> -->
    <!-- <script src="/public/js/darkMode.js" defer></script> -->
</body>

</html>