@import url("reset.css");
@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


/* body{
    background-color: #eef0f2;
} */
.main_div{
}

.shareLink{
    font-size: 68px;
}

.file_ul{
    list-style: none;
}
.file-list-title{
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.none_file_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.none_file_div > p{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 25px;
}
.none_file_div__none-icon{
    color: crimson;
    font-size: 40px;
}

.main_content{ 
   width: 100%;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   box-sizing: border-box;
}

.my_avatar_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_avatar_img{
    width: 5rem;
    height: 100px;
}
.my_avatar_div__profile{
    font-family: sans-serif;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-right: 10px;
    border-radius: 15px;
}
.avatar_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.my_avatar_div__profile__title{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.my_avatar_title{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 25px;
}

.none_guest_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.none_guest_div >span{
    font-size: 40px;
    color: crimson;
}
.none_guest_div>p{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 25px;
}

.guest_avatar_title{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 25px;
}

.guest_avatar_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    height: 273px;
    padding: 0px 1rem 0px 1rem ;
}
.guest_avatar_div__profile{
    flex:0 0 auto;
    font-family: sans-serif;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin-right: 10px;
    border-radius: 15px;
}
.guest_avatar_div__profile__img{
    width: 5rem;
    height: 100px;
}

.guest_avatar_div__profile__title{
    font-family: 'Jua', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}
.guest_avatar_div__profile__file-icon{
    font-size: 50px;
}
.dark_mod_label{
    display: flex;
    width: 50px;
    height: 26px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    background-color: #111;
    box-sizing: border-box;
}
.fa-moon{
    color:#f1c40f ;
}
.fa-sun{
    color: #f39c12;
}
.dark_mod_ball{
    width: 24px;
    height: 24px;
    top:1px;
    left: 1px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked +.dark_mod_label .dark_mod_ball{
    transform: translateX(24px);
}
