@import url(".public/css/reset.css");

.my_avatar_img{
    width: 5rem;
    height: 100px;
}
.guest_avatar_img{
    width: 5rem;
    height: 100px;
}
.avatar_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.guest_avatar_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}