*, ::before, ::after{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.ml-4{
  margin-left: 1rem;
}

.mr-4{
  margin-right: 1rem;
}

.mt-4{
  margin-top: 1rem;
}

.flex{
  display: flex;
}

.w-full{
  width: 100%;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rounded-full{
  border-radius: 9999px;
}

.border{
  border-width: 1px;
}

.border-t-0{
  border-top-width: 0px;
}

.border-l-0{
  border-left-width: 0px;
}

.border-r-0{
  border-right-width: 0px;
}

.border-solid{
  border-style: solid;
}

.border-gray-300\/10{
  border-color: rgb(209 213 219 / 0.1);
}

.bg-neutral-100{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-blue-600{
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.p-0\.5{
  padding: 0.125rem;
}

.p-0{
  padding: 0px;
}

.text-center{
  text-align: center;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[50px\]{
  font-size: 50px;
}

.font-medium{
  font-weight: 500;
}

.leading-none{
  line-height: 1;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-slate-500{
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-blue-100{
  --tw-text-opacity: 1;
  color: rgb(219 234 254 / var(--tw-text-opacity));
}

.no-underline{
  text-decoration: none;
}

.opacity-80{
  opacity: 0.8;
}

.font-jua{
  font-family: 'Jua', sans-serif;
}

.dm-transition{
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 150ms;
  transition-delay: 200ms;
  transition-timing-function: linear;
}

.dark .dark\:bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-400{
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.dark .dark\:bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.dark .dark\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .dark\:text-blue-700{
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

@media (max-width: 480px){
  .mobile\:w-3\/6{
    width: 50%;
  }
}